.checkbox {
    display: block;
}

#adicionar {
    background-color: blue;
}

#comprar {
    background-color: greenyellow;
}

#excluir {
    background-color: red;
    
}

#adicionar, #comprar, #excluir {
    border-radius: 20px;
    border-color: gray;
}